body {
    background-color: #f6fcff;
    background-image: url(../images/main_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

/*중앙이미지를 정가운데 위치시키기*/
/*화면크기(가로)가 줄어들 때 화면너비 100%를 이용해서*/
/*자동으로 이미지 크기 줄이기*/
.main_character {
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    /*이미지는 글자요소라 중앙정렬이 안됨 상자요소로 전환해서 처리*/
    /* display: block; */
    margin-bottom: 40px;
}